@import "../../common/colors.scss";

.movie-list,
.show-list {
  margin: 20px 0;

  h2 {
    color: $font-secondary;
    margin-bottom: 10px;
    font-weight: 400;
  }
}

.secondary-text {
  color: $font-primary;
}

// circular rotating loader
// .loader {
//   border: 12px solid #f3f3f3;
//   border-top: 12px solid #3498db;
//   border-radius: 50%;
//   width: 60px;
//   height: 60px;
//   animation: spin 2s linear infinite;
// }

// @keyframes spin {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }

// .movie-container,
// .show-container {
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
//   gap: 20px;
// }
